body{
	background-image: url('http://vignette1.wikia.nocookie.net/ratchet/images/1/1d/Ratchet_and_Clank_question_marks.png/revision/latest?cb=20130608212452');
	background-size: cover;
}

.container{
	font-size: 20px;
	color: white;
}

h1{
	color: black;
	text-align: center;
}

#submitButton{
	font-size: 30px;
	float:;
	background-color: black;
	margin-top: 15px;
	color:white;
}

#submitButton:hover{
	background-color:darkblue;
	font-size: 35px;
}

.active{
	padding-top: 15px;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color:white;
}

.active:hover{
	font-size: 30px;
	color: white;
}

.timer{
	color:white;
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }