body{
	background-image: url('http://vignette1.wikia.nocookie.net/ratchet/images/1/1d/Ratchet_and_Clank_question_marks.png/revision/latest?cb=20130608212452');
	background-size: cover;
}

.container{
	font-size: 20px;
	color: white;
}

h1{
	color: white;
	text-align: center;
}

#submitButton{
	font-size: 25px;
	color: white;
	background-color: black;
}

.active{
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	color: white;
	text-align: center;
}

.active:hover{
	color:green;
}